#ad-form {
  display: none;
}

#car-form {
  display: none;
}

#filters {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#search-bar {
  justify-items: center;
  padding: 10px 5px;
}

#search-submit {
  color: #636e74;
  border-color: #dee2e6;
}

#search-submit:hover {
  background-color: lightskyblue;
}

.card-img-top {
  padding: 20px;
}

.annons-header {
  padding: 40px 0px 20px 0px;
}
